<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yam.app.account.domain.AccountRepository">
  <update id="update">
    UPDATE ACCOUNT
    SET email = #{email},
        email_check_token = #{emailCheckToken},
        email_check_token_generated_at = #{emailCheckTokenGeneratedAt},
        email_verified = #{emailVerified},
        nickname = #{nickname},
        password = #{password},
        withdraw = #{withdraw}
    WHERE id = #{id}
    LIMIT 1
  </update>

  <select id="existsByEmail" parameterType="String" resultType="int">
    SELECT COUNT(email)
    FROM ACCOUNT
    WHERE email = #{email}
  </select>

  <select id="existsByNickname" parameterType="String" resultType="int">
    SELECT COUNT(nickname)
    FROM ACCOUNT
    WHERE nickname = #{nickname}
  </select>

  <insert id="save" parameterType="com.yam.app.account.domain.Account">
    INSERT
    INTO ACCOUNT(email, email_check_token, email_check_token_generated_at, email_verified,
                 nickname, password, withdraw)
    VALUES (#{email}, #{emailCheckToken}, #{emailCheckTokenGeneratedAt}, #{emailVerified},
            #{nickname}, #{password}, #{withdraw})
  </insert>

</mapper>
