<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yam.app.article.domain.ArticleTagRepository">

  <insert id="save" parameterType="com.yam.app.article.domain.ArticleTag">
    INSERT INTO article_tag (article_id, tag_id)
    VALUES (#{articleId}, #{tag.id})
  </insert>

</mapper>
