<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yam.app.member.domain.MemberRepository">

  <insert id="save" parameterType="com.yam.app.member.domain.Member">
    INSERT
    INTO member (nickname, image, status)
    VALUES (#{nickname}, #{image}, #{status})
  </insert>

  <update id="update" parameterType="com.yam.app.member.domain.Member">
    UPDATE member
    SET nickname = #{nickname},
        image = #{image},
        status = #{status}
    WHERE id = #{id}
  </update>

</mapper>
