server:
  port: 18000

spring:
  session:
    store-type: redis

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  health:
    mail:
      enabled: false
